.wrapper {
  text-align: center;
  padding-top: 20px;
}

.title {
  margin-top: 45px;
  margin-bottom: 15px;
}

.list {
  display: inline-block;
  text-align: center;
}

.listItem {
  padding-bottom: 10px;
}
