.wrapper {
  text-align: center;
  padding-top: 20px;
}

.title {
  margin-top: 45px;
  margin-bottom: 15px;
}

.list {
  display: inline-block;
  text-align: center;
}

.listItem {
  padding: 20px;
  background-color: #1c222e;
  width: 400px;
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
}

.listItemNumber {
  font-size: 28px;
  color: #a9bbd6;
  height: 100%;
}

.listItemContent {
  width: 100%;
  font-size: 18px;
}

button {
  background-color: #28374b;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: 0;
}

button[disabled] {
  cursor: normal;
  opacity: 0.5;
}
